.vscode/

**/*.egg-info/
**/__pycache__/
**/c_generated_code/
**/acados_ocp_quadcopter_ode.json
**/acados_sim.json
**/rollout_data/
**/test_data/

# Ignore contents of 3dgs/
3dgs/**

# But track these directories
!.gitignore
!.gitkeep
!/3dgs/
!/3dgs/.gitkeep
!/configs/
!/configs/.gitkeep
