.vscode/

**/*.egg-info/
**/__pycache__/
**/c_generated_code/
**/acados_ocp_quadcopter_ode.json
**/acados_sim.json
**/rollout_data/
**/test_data/

3dgs/**
3dgs
notebooks/**
!notebooks/figs_simulate_flight_example.py
!notebooks/figs_generate_3dgs_example.py
src/scripts/**

!.gitignore
!.gitkeep
!/3dgs/
!/3dgs/.gitkeep
!/configs/
!/configs/.gitkeep
outputs/
*.md
!README.md
**/test_space/

configs/course/*
!configs/course/track_spiral.json

*.sh
!install-serverside.sh
!install.sh
!install-figs.sh
**/splatfacto/
**/gemsplat/
